.app {
  min-height: 100vh;
  color: white;
  /* background-image: linear-gradient(45deg, rgba(30,41,62,1) 27%, rgba(36,40,32,1) 94%); */
  background-image: linear-gradient(45deg, #ffa715 27%, #ffcb2f 94%);
}

.nav-bar{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -75px; 
  background-color: #f58410;
  padding: 10px 50px;
}
.description{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 250px;
}
.container-fluid{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  color:rgb(255, 255, 255);
  gap:20px;
  /* for debugging */
}

.user-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#pfp {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  border-radius: 50%;

}

#chatSelection {
  display:flex;
  flex-direction: column;
  align-items: center;
}

#global-chat-btn {
  display: flex;
  margin-top: 20px;
}

#welcome {
  margin-right: 20px;
}

.messages {
  display: flex;
  max-height: 500px;
  overflow: scroll;
  padding: 10px;
  flex-direction: column-reverse;
}

.homepage-elements{
  gap:10px;
  color:#ffffff;
}
#welcome-message{
  display:flex;

}
#message-input{
  margin-top: auto;
  margin-bottom: 50px;
  width: 100%;
  padding: 30px;
}

#firebase-tag{
  display: flex;
  margin-top: 200px;
  justify-content: center;
}

.send-message {
  width: 100%;
  margin-top: 20px;
}

.send-button {
  margin-left: 10px;
}

button:hover {
  background-color: #ff960cfe;
  transition-duration: 0.3s;
}

#messageInput {
  width: auto;
  padding: 20px;
  width: 80%;
}


.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #1b2465;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}


.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f58410;
  color: #1c2c4c;
  width: max-content;
  max-width: calc(100% - 50px);
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: #fff;

}
.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.homepage-elements {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #1c2c4c;
}
.user-message {
  word-break: break-all;
}

.user-list {
  display:flex;
  flex-direction: column;
  border-style: solid;
  border-color: #f58410;
  border-radius: 10px;
  padding: 10px;
}
.user-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}


